-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: matrimony_db
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts_otp_record`
--

DROP TABLE IF EXISTS `accounts_otp_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_otp_record` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `identifier` varchar(255) NOT NULL,
  `otp_hash` varchar(64) NOT NULL,
  `attempts` smallint unsigned NOT NULL,
  `expires_at` datetime(6) NOT NULL,
  `verified` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `accounts_otp_record_identifier_4c41a8ef` (`identifier`),
  CONSTRAINT `accounts_otp_record_chk_1` CHECK ((`attempts` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_otp_record`
--

LOCK TABLES `accounts_otp_record` WRITE;
/*!40000 ALTER TABLE `accounts_otp_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_otp_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user`
--

DROP TABLE IF EXISTS `accounts_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user` (
  `last_login` datetime(6) DEFAULT NULL,
  `id` char(32) NOT NULL,
  `email` varchar(254) DEFAULT NULL,
  `mobile` varchar(20) DEFAULT NULL,
  `password` varchar(128) NOT NULL,
  `role` varchar(20) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `email_verified` tinyint(1) NOT NULL,
  `mobile_verified` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `mobile` (`mobile`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user`
--

LOCK TABLES `accounts_user` WRITE;
/*!40000 ALTER TABLE `accounts_user` DISABLE KEYS */;
INSERT INTO `accounts_user` VALUES (NULL,'6ca718d0b6bd4fa3b467912d1f562f3a','nizamol007@gmail.com',NULL,'','user',1,0,0,1,0,'2026-03-02 10:20:34.146447','2026-03-02 10:20:34.146542'),(NULL,'db617f71d8c6452c9e63ed93f7c3e142',NULL,'9496954772','','user',1,0,0,0,1,'2026-03-02 10:23:42.048620','2026-03-02 10:23:42.048736');
/*!40000 ALTER TABLE `accounts_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_groups`
--

DROP TABLE IF EXISTS `accounts_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` char(32) NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_groups_user_id_group_id_59c0b32f_uniq` (`user_id`,`group_id`),
  KEY `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` (`group_id`),
  CONSTRAINT `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `accounts_user_groups_user_id_52b62117_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_groups`
--

LOCK TABLES `accounts_user_groups` WRITE;
/*!40000 ALTER TABLE `accounts_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_user_permissions`
--

DROP TABLE IF EXISTS `accounts_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` char(32) NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq` (`user_id`,`permission_id`),
  KEY `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` (`permission_id`),
  CONSTRAINT `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `accounts_user_user_p_user_id_e4f0a161_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_user_permissions`
--

LOCK TABLES `accounts_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `accounts_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=117 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `branches_branch`
--

DROP TABLE IF EXISTS `branches_branch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `branches_branch` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `code` varchar(50) NOT NULL,
  `address` longtext NOT NULL,
  `phone` varchar(20) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branches_branch`
--

LOCK TABLES `branches_branch` WRITE;
/*!40000 ALTER TABLE `branches_branch` DISABLE KEYS */;
/*!40000 ALTER TABLE `branches_branch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enquiries_enquiry`
--

DROP TABLE IF EXISTS `enquiries_enquiry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enquiries_enquiry` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `email` varchar(254) NOT NULL,
  `mobile` varchar(20) NOT NULL,
  `source` varchar(100) NOT NULL,
  `notes` longtext NOT NULL,
  `status` varchar(50) NOT NULL,
  `branch_id` char(32) NOT NULL,
  `converted_user_id` char(32) DEFAULT NULL,
  `created_by_id` char(32) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `enquiries_enquiry_branch_id_d5e5865e_fk_branches_branch_id` (`branch_id`),
  KEY `enquiries_enquiry_converted_user_id_cf99814b_fk_accounts_user_id` (`converted_user_id`),
  KEY `enquiries_enquiry_created_by_id_f70d7e80_fk_accounts_user_id` (`created_by_id`),
  CONSTRAINT `enquiries_enquiry_branch_id_d5e5865e_fk_branches_branch_id` FOREIGN KEY (`branch_id`) REFERENCES `branches_branch` (`id`),
  CONSTRAINT `enquiries_enquiry_converted_user_id_cf99814b_fk_accounts_user_id` FOREIGN KEY (`converted_user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `enquiries_enquiry_created_by_id_f70d7e80_fk_accounts_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enquiries_enquiry`
--

LOCK TABLES `enquiries_enquiry` WRITE;
/*!40000 ALTER TABLE `enquiries_enquiry` DISABLE KEYS */;
/*!40000 ALTER TABLE `enquiries_enquiry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enquiries_enquiryfollowup`
--

DROP TABLE IF EXISTS `enquiries_enquiryfollowup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enquiries_enquiryfollowup` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `notes` longtext NOT NULL,
  `next_follow_at` datetime(6) DEFAULT NULL,
  `created_by_id` char(32) DEFAULT NULL,
  `enquiry_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `enquiries_enquiryfol_created_by_id_6c7d35e5_fk_accounts_` (`created_by_id`),
  KEY `enquiries_enquiryfol_enquiry_id_9a9f33b6_fk_enquiries` (`enquiry_id`),
  CONSTRAINT `enquiries_enquiryfol_created_by_id_6c7d35e5_fk_accounts_` FOREIGN KEY (`created_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `enquiries_enquiryfol_enquiry_id_9a9f33b6_fk_enquiries` FOREIGN KEY (`enquiry_id`) REFERENCES `enquiries_enquiry` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enquiries_enquiryfollowup`
--

LOCK TABLES `enquiries_enquiryfollowup` WRITE;
/*!40000 ALTER TABLE `enquiries_enquiryfollowup` DISABLE KEYS */;
/*!40000 ALTER TABLE `enquiries_enquiryfollowup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matching_match`
--

DROP TABLE IF EXISTS `matching_match`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matching_match` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `score` smallint unsigned NOT NULL,
  `notified_a` tinyint(1) NOT NULL,
  `notified_b` tinyint(1) NOT NULL,
  `profile_a_id` char(32) NOT NULL,
  `profile_b_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `matching_match_profile_a_id_profile_b_id_c90e067d_uniq` (`profile_a_id`,`profile_b_id`),
  KEY `matching_match_profile_b_id_db55231f_fk_profiles_profile_id` (`profile_b_id`),
  CONSTRAINT `matching_match_profile_a_id_0980b2af_fk_profiles_profile_id` FOREIGN KEY (`profile_a_id`) REFERENCES `profiles_profile` (`id`),
  CONSTRAINT `matching_match_profile_b_id_db55231f_fk_profiles_profile_id` FOREIGN KEY (`profile_b_id`) REFERENCES `profiles_profile` (`id`),
  CONSTRAINT `matching_match_chk_1` CHECK ((`score` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matching_match`
--

LOCK TABLES `matching_match` WRITE;
/*!40000 ALTER TABLE `matching_match` DISABLE KEYS */;
/*!40000 ALTER TABLE `matching_match` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications_notificationlog`
--

DROP TABLE IF EXISTS `notifications_notificationlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications_notificationlog` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `channel` varchar(20) NOT NULL,
  `recipient` varchar(255) NOT NULL,
  `subject` varchar(255) NOT NULL,
  `body` longtext NOT NULL,
  `sent_at` datetime(6) NOT NULL,
  `success` tinyint(1) NOT NULL,
  `error_message` longtext NOT NULL,
  `user_id` char(32) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_notifi_user_id_ea3d4e7c_fk_accounts_` (`user_id`),
  CONSTRAINT `notifications_notifi_user_id_ea3d4e7c_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications_notificationlog`
--

LOCK TABLES `notifications_notificationlog` WRITE;
/*!40000 ALTER TABLE `notifications_notificationlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications_notificationlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profiles_interest`
--

DROP TABLE IF EXISTS `profiles_interest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profiles_interest` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `receiver_id` char(32) NOT NULL,
  `sender_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `profiles_interest_sender_id_receiver_id_9913aed5_uniq` (`sender_id`,`receiver_id`),
  KEY `profiles_interest_receiver_id_f09dcc4e_fk_profiles_profile_id` (`receiver_id`),
  CONSTRAINT `profiles_interest_receiver_id_f09dcc4e_fk_profiles_profile_id` FOREIGN KEY (`receiver_id`) REFERENCES `profiles_profile` (`id`),
  CONSTRAINT `profiles_interest_sender_id_39d710a5_fk_profiles_profile_id` FOREIGN KEY (`sender_id`) REFERENCES `profiles_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profiles_interest`
--

LOCK TABLES `profiles_interest` WRITE;
/*!40000 ALTER TABLE `profiles_interest` DISABLE KEYS */;
/*!40000 ALTER TABLE `profiles_interest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profiles_profile`
--

DROP TABLE IF EXISTS `profiles_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profiles_profile` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `full_name` varchar(255) NOT NULL,
  `gender` varchar(1) NOT NULL,
  `date_of_birth` date DEFAULT NULL,
  `marital_status` varchar(50) NOT NULL,
  `height_cm` smallint unsigned DEFAULT NULL,
  `religion` varchar(100) NOT NULL,
  `caste` varchar(100) NOT NULL,
  `education` varchar(255) NOT NULL,
  `occupation` varchar(255) NOT NULL,
  `income` varchar(100) NOT NULL,
  `city` varchar(100) NOT NULL,
  `state` varchar(100) NOT NULL,
  `country` varchar(100) NOT NULL,
  `about` longtext NOT NULL,
  `is_discoverable` tinyint(1) NOT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `profiles_profile_user_id_a3e81f91_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `profiles_profile_chk_1` CHECK ((`height_cm` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profiles_profile`
--

LOCK TABLES `profiles_profile` WRITE;
/*!40000 ALTER TABLE `profiles_profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `profiles_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profiles_profilephoto`
--

DROP TABLE IF EXISTS `profiles_profilephoto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profiles_profilephoto` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `image` varchar(100) NOT NULL,
  `is_primary` tinyint(1) NOT NULL,
  `display_order` smallint unsigned NOT NULL,
  `profile_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `profiles_profilephoto_profile_id_7d4ee29d_fk_profiles_profile_id` (`profile_id`),
  CONSTRAINT `profiles_profilephoto_profile_id_7d4ee29d_fk_profiles_profile_id` FOREIGN KEY (`profile_id`) REFERENCES `profiles_profile` (`id`),
  CONSTRAINT `profiles_profilephoto_chk_1` CHECK ((`display_order` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profiles_profilephoto`
--

LOCK TABLES `profiles_profilephoto` WRITE;
/*!40000 ALTER TABLE `profiles_profilephoto` DISABLE KEYS */;
/*!40000 ALTER TABLE `profiles_profilephoto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profiles_profileview`
--

DROP TABLE IF EXISTS `profiles_profileview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profiles_profileview` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `viewed_at` datetime(6) NOT NULL,
  `viewed_id` char(32) NOT NULL,
  `viewer_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `profiles_profileview_viewed_id_94373df9_fk_profiles_profile_id` (`viewed_id`),
  KEY `profiles_profileview_viewer_id_13d6dc6b_fk_profiles_profile_id` (`viewer_id`),
  CONSTRAINT `profiles_profileview_viewed_id_94373df9_fk_profiles_profile_id` FOREIGN KEY (`viewed_id`) REFERENCES `profiles_profile` (`id`),
  CONSTRAINT `profiles_profileview_viewer_id_13d6dc6b_fk_profiles_profile_id` FOREIGN KEY (`viewer_id`) REFERENCES `profiles_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profiles_profileview`
--

LOCK TABLES `profiles_profileview` WRITE;
/*!40000 ALTER TABLE `profiles_profileview` DISABLE KEYS */;
/*!40000 ALTER TABLE `profiles_profileview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profiles_shortlist`
--

DROP TABLE IF EXISTS `profiles_shortlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profiles_shortlist` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `profile_id` char(32) NOT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `profiles_shortlist_user_id_profile_id_f0ee1d46_uniq` (`user_id`,`profile_id`),
  KEY `profiles_shortlist_profile_id_b171dee7_fk_profiles_profile_id` (`profile_id`),
  CONSTRAINT `profiles_shortlist_profile_id_b171dee7_fk_profiles_profile_id` FOREIGN KEY (`profile_id`) REFERENCES `profiles_profile` (`id`),
  CONSTRAINT `profiles_shortlist_user_id_1d6657f0_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profiles_shortlist`
--

LOCK TABLES `profiles_shortlist` WRITE;
/*!40000 ALTER TABLE `profiles_shortlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `profiles_shortlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referrals_binarypaircommission`
--

DROP TABLE IF EXISTS `referrals_binarypaircommission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `referrals_binarypaircommission` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `amount` decimal(12,2) NOT NULL,
  `tds_amount` decimal(12,2) NOT NULL,
  `net_amount` decimal(12,2) NOT NULL,
  `commission_date` date NOT NULL,
  `carried_forward` tinyint(1) NOT NULL,
  `earner_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `referrals_binarypair_earner_id_329ddab9_fk_accounts_` (`earner_id`),
  CONSTRAINT `referrals_binarypair_earner_id_329ddab9_fk_accounts_` FOREIGN KEY (`earner_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referrals_binarypaircommission`
--

LOCK TABLES `referrals_binarypaircommission` WRITE;
/*!40000 ALTER TABLE `referrals_binarypaircommission` DISABLE KEYS */;
/*!40000 ALTER TABLE `referrals_binarypaircommission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referrals_companybonus`
--

DROP TABLE IF EXISTS `referrals_companybonus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `referrals_companybonus` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `amount` decimal(12,2) NOT NULL,
  `pre_booking_id` char(32) DEFAULT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `referrals_companybon_pre_booking_id_ad6b5fa3_fk_referrals` (`pre_booking_id`),
  KEY `referrals_companybonus_user_id_7dc4cdcb_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `referrals_companybon_pre_booking_id_ad6b5fa3_fk_referrals` FOREIGN KEY (`pre_booking_id`) REFERENCES `referrals_prebooking` (`id`),
  CONSTRAINT `referrals_companybonus_user_id_7dc4cdcb_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referrals_companybonus`
--

LOCK TABLES `referrals_companybonus` WRITE;
/*!40000 ALTER TABLE `referrals_companybonus` DISABLE KEYS */;
/*!40000 ALTER TABLE `referrals_companybonus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referrals_prebooking`
--

DROP TABLE IF EXISTS `referrals_prebooking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `referrals_prebooking` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `amount` decimal(12,2) NOT NULL,
  `paid_at` datetime(6) NOT NULL,
  `company_bonus_given` decimal(12,2) NOT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `referrals_prebooking_user_id_1a7671cc_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `referrals_prebooking_user_id_1a7671cc_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referrals_prebooking`
--

LOCK TABLES `referrals_prebooking` WRITE;
/*!40000 ALTER TABLE `referrals_prebooking` DISABLE KEYS */;
/*!40000 ALTER TABLE `referrals_prebooking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referrals_referralcommission`
--

DROP TABLE IF EXISTS `referrals_referralcommission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `referrals_referralcommission` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `amount` decimal(12,2) NOT NULL,
  `tds_amount` decimal(12,2) NOT NULL,
  `net_amount` decimal(12,2) NOT NULL,
  `earner_id` char(32) NOT NULL,
  `referred_user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `referrals_referralco_earner_id_55b90a5c_fk_accounts_` (`earner_id`),
  KEY `referrals_referralco_referred_user_id_662e22a4_fk_accounts_` (`referred_user_id`),
  CONSTRAINT `referrals_referralco_earner_id_55b90a5c_fk_accounts_` FOREIGN KEY (`earner_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `referrals_referralco_referred_user_id_662e22a4_fk_accounts_` FOREIGN KEY (`referred_user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referrals_referralcommission`
--

LOCK TABLES `referrals_referralcommission` WRITE;
/*!40000 ALTER TABLE `referrals_referralcommission` DISABLE KEYS */;
/*!40000 ALTER TABLE `referrals_referralcommission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referrals_userreferralprofile`
--

DROP TABLE IF EXISTS `referrals_userreferralprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `referrals_userreferralprofile` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `referral_code` varchar(20) NOT NULL,
  `leg` varchar(10) NOT NULL,
  `direct_referrals_count` int unsigned NOT NULL,
  `is_binary_active` tinyint(1) NOT NULL,
  `is_active_buyer` tinyint(1) NOT NULL,
  `total_commission_earned` decimal(14,2) NOT NULL,
  `total_commission_cap_used` decimal(14,2) NOT NULL,
  `left_count` int unsigned NOT NULL,
  `right_count` int unsigned NOT NULL,
  `pairs_paid` int unsigned NOT NULL,
  `daily_pairs_used` int unsigned NOT NULL,
  `daily_pairs_date` date DEFAULT NULL,
  `carry_forward_pairs` int unsigned NOT NULL,
  `binary_parent_id` char(32) DEFAULT NULL,
  `referred_by_id` char(32) DEFAULT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `referral_code` (`referral_code`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `referrals_userreferr_binary_parent_id_d022b748_fk_accounts_` (`binary_parent_id`),
  KEY `referrals_userreferr_referred_by_id_4290cd12_fk_accounts_` (`referred_by_id`),
  CONSTRAINT `referrals_userreferr_binary_parent_id_d022b748_fk_accounts_` FOREIGN KEY (`binary_parent_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `referrals_userreferr_referred_by_id_4290cd12_fk_accounts_` FOREIGN KEY (`referred_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `referrals_userreferr_user_id_a6b62f29_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `referrals_userreferralprofile_chk_1` CHECK ((`direct_referrals_count` >= 0)),
  CONSTRAINT `referrals_userreferralprofile_chk_2` CHECK ((`left_count` >= 0)),
  CONSTRAINT `referrals_userreferralprofile_chk_3` CHECK ((`right_count` >= 0)),
  CONSTRAINT `referrals_userreferralprofile_chk_4` CHECK ((`pairs_paid` >= 0)),
  CONSTRAINT `referrals_userreferralprofile_chk_5` CHECK ((`daily_pairs_used` >= 0)),
  CONSTRAINT `referrals_userreferralprofile_chk_6` CHECK ((`carry_forward_pairs` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referrals_userreferralprofile`
--

LOCK TABLES `referrals_userreferralprofile` WRITE;
/*!40000 ALTER TABLE `referrals_userreferralprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `referrals_userreferralprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_commission`
--

DROP TABLE IF EXISTS `staff_commission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_commission` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `amount` decimal(12,2) NOT NULL,
  `rate` decimal(5,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `staff_id` char(32) NOT NULL,
  `subscription_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `staff_commission_staff_id_04afca2b_fk_staff_staffprofile_id` (`staff_id`),
  KEY `staff_commission_subscription_id_7d24afef_fk_subscript` (`subscription_id`),
  CONSTRAINT `staff_commission_staff_id_04afca2b_fk_staff_staffprofile_id` FOREIGN KEY (`staff_id`) REFERENCES `staff_staffprofile` (`id`),
  CONSTRAINT `staff_commission_subscription_id_7d24afef_fk_subscript` FOREIGN KEY (`subscription_id`) REFERENCES `subscriptions_subscription` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_commission`
--

LOCK TABLES `staff_commission` WRITE;
/*!40000 ALTER TABLE `staff_commission` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff_commission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_salary`
--

DROP TABLE IF EXISTS `staff_salary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_salary` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `month` smallint unsigned NOT NULL,
  `year` int unsigned NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `paid_at` datetime(6) DEFAULT NULL,
  `staff_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `staff_salary_staff_id_month_year_486b4fc2_uniq` (`staff_id`,`month`,`year`),
  CONSTRAINT `staff_salary_staff_id_1ff48e83_fk_staff_staffprofile_id` FOREIGN KEY (`staff_id`) REFERENCES `staff_staffprofile` (`id`),
  CONSTRAINT `staff_salary_chk_1` CHECK ((`month` >= 0)),
  CONSTRAINT `staff_salary_chk_2` CHECK ((`year` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_salary`
--

LOCK TABLES `staff_salary` WRITE;
/*!40000 ALTER TABLE `staff_salary` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff_salary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_staffprofile`
--

DROP TABLE IF EXISTS `staff_staffprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_staffprofile` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `employee_id` varchar(50) NOT NULL,
  `commission_rate` decimal(5,2) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `branch_id` char(32) DEFAULT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_id` (`employee_id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `staff_staffprofile_branch_id_35dd4bb2_fk_branches_branch_id` (`branch_id`),
  CONSTRAINT `staff_staffprofile_branch_id_35dd4bb2_fk_branches_branch_id` FOREIGN KEY (`branch_id`) REFERENCES `branches_branch` (`id`),
  CONSTRAINT `staff_staffprofile_user_id_de1feaad_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_staffprofile`
--

LOCK TABLES `staff_staffprofile` WRITE;
/*!40000 ALTER TABLE `staff_staffprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff_staffprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriptions_plan`
--

DROP TABLE IF EXISTS `subscriptions_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriptions_plan` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `code` varchar(50) NOT NULL,
  `duration_days` int unsigned NOT NULL,
  `price` decimal(12,2) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  CONSTRAINT `subscriptions_plan_chk_1` CHECK ((`duration_days` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriptions_plan`
--

LOCK TABLES `subscriptions_plan` WRITE;
/*!40000 ALTER TABLE `subscriptions_plan` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscriptions_plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriptions_subscription`
--

DROP TABLE IF EXISTS `subscriptions_subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriptions_subscription` (
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `started_at` datetime(6) NOT NULL,
  `expires_at` datetime(6) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `amount_paid` decimal(12,2) NOT NULL,
  `added_by_staff_id` char(32) DEFAULT NULL,
  `plan_id` char(32) NOT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `subscriptions_subscr_added_by_staff_id_27f42139_fk_accounts_` (`added_by_staff_id`),
  KEY `subscriptions_subscr_plan_id_2c895107_fk_subscript` (`plan_id`),
  KEY `subscriptions_subscription_user_id_a353e93d_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `subscriptions_subscr_added_by_staff_id_27f42139_fk_accounts_` FOREIGN KEY (`added_by_staff_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `subscriptions_subscr_plan_id_2c895107_fk_subscript` FOREIGN KEY (`plan_id`) REFERENCES `subscriptions_plan` (`id`),
  CONSTRAINT `subscriptions_subscription_user_id_a353e93d_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriptions_subscription`
--

LOCK TABLES `subscriptions_subscription` WRITE;
/*!40000 ALTER TABLE `subscriptions_subscription` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscriptions_subscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_blacklist_blacklistedtoken`
--

DROP TABLE IF EXISTS `token_blacklist_blacklistedtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_blacklist_blacklistedtoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blacklisted_at` datetime(6) NOT NULL,
  `token_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_id` (`token_id`),
  CONSTRAINT `token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk` FOREIGN KEY (`token_id`) REFERENCES `token_blacklist_outstandingtoken` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_blacklist_blacklistedtoken`
--

LOCK TABLES `token_blacklist_blacklistedtoken` WRITE;
/*!40000 ALTER TABLE `token_blacklist_blacklistedtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `token_blacklist_blacklistedtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_blacklist_outstandingtoken`
--

DROP TABLE IF EXISTS `token_blacklist_outstandingtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_blacklist_outstandingtoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `token` longtext NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `expires_at` datetime(6) NOT NULL,
  `user_id` char(32) DEFAULT NULL,
  `jti` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq` (`jti`),
  KEY `token_blacklist_outs_user_id_83bc629a_fk_accounts_` (`user_id`),
  CONSTRAINT `token_blacklist_outs_user_id_83bc629a_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_blacklist_outstandingtoken`
--

LOCK TABLES `token_blacklist_outstandingtoken` WRITE;
/*!40000 ALTER TABLE `token_blacklist_outstandingtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `token_blacklist_outstandingtoken` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-29  5:08:30
